body {
  margin: 0;
  padding: 0;

  background-color: ;
  color: #3A405A;
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
}

/* -- NAVIGATION BAR -- */
header {
  /* keeps header fixed at top */
  width: 100%;
  top: 0;
  position: fixed;

  background-color: #FFB7C3;
}

.header-text {
  padding: 1% 3% 1% 3%;
  margin: 0% 2% 0% 2%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Content */
.content {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

/* Intro Section */
#intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
  margin: auto;
  margin-top: 40vh;
  margin-bottom: 40vh;
}

#intro div:nth-of-type(1) {
  flex-basis: 20%;
}

#intro div:nth-of-type(2) {
  flex-basis: 80%;
}

#big {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Non-intro sections */
.parts {
  display: flex;
  flex-direction: row;
  margin: 7%;
}

.parts div:nth-of-type(1) {
  flex-basis: 20%;
}

.parts div:nth-of-type(2) {
  flex-basis: 80%;
}

.label {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 10%;
}

.items {
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #BEB7DF;
  color: #3A405A;
  margin: 2%;
}

.box div:nth-of-type(1) {
  flex-basis: 20%;
}

.box div:nth-of-type(2) {
  flex-basis: 80%;
}

.logo {
  margin: 3%;
}

.description {
  display: flex;
  flex-direction: column;
  margin: 3%;
}
