html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;

  background-color: #FEF8D3;
  color: #3A405A;
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
}

/* the "window" */
#frame {
  width: 80%;
  height: 100%;
  border-style: solid;
  border-color: #9CAFB7;
  margin: 0 auto;
  position: relative;
  overflow: auto;
  background-color: #FFFFFF;
}

.window {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: #FFFFFF;
  /* overflow: auto; */
}

#browser-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  border-style: solid;
  border-color: #9CAFB7;

  margin-top: 1%;
  margin-bottom: 0;
  width: 80%;

  background-color: #9CAFB7;
}

.circle {
  border-radius: 50%;
  background-color: #3A405A;

  margin: 0.5%;
  width: 2%;
}

.circle:before {
    content:     "";
    display:     block;
    padding-top: 100%;
}

#exit {
  background-color: #B9314F;
}

/* content */
#education, #experience, #interests, #skills {
  visibility: hidden;
}

.parts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0.5%;
}

/* separates work company logo and description */
.box div:nth-of-type(1) {
  flex-basis: 20%;
}

.box div:nth-of-type(2) {
  flex-basis: 80%;
}

.logo {
  margin: 3%;
}

.description {
  display: flex;
  flex-direction: column;
  margin: 3%;
}

/* adjusts text margins */
h1, h2, h3, h4 {
  margin: 0.5%;
}

/* navigation buttons */
#buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 10%;
}

.sections {
  margin: 20% 10%;
}
